
APP_BASE_URL=https://api.gondue.co.kr

# JWT 설정
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

# OAuth2 설정 (추후 추가)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# 서버 설정
SERVER_PORT=9000

# Spring AI / Gemini (Google AI API Key)
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash

DB_URL=jdbc:mariadb://rds:3306/aistudy
DB_USERNAME=admin
DB_PASSWORD=mariadb1234

COOKIE_DOMAIN=.gondue.co.kr
APP_OAUTH2_SUCCESS_REDIRECT_URL=https://gondue.co.kr/app
APP_OAUTH2_FAILURE_REDIRECT_URL=https://gondue.co.kr?from=oauth2
