spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: [profile, email]
            redirect-uri: '{baseUrl}/login/oauth2/code/google'
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: [profile_nickname, account_email]
            redirect-uri: '{baseUrl}/login/oauth2/code/kakao'
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

server:
  port: ${PORT:8080}

logging:
  level:
    com.study.mate: INFO
    org.springframework.web: WARN
    org.hibernate.SQL: WARN

cookie:
  domain: ${COOKIE_DOMAIN}
  secure: true
  http-only: true
  same-site: None
  access-token-name: ACCESS_TOKEN
  refresh-token-name: REFRESH_TOKEN
  access-max-age: 900
  refresh-max-age: 604800
app:
  oauth2-success-redirect-url: ${APP_OAUTH2_SUCCESS_REDIRECT_URL}
  oauth2-failure-redirect-url: ${APP_OAUTH2_FAILURE_REDIRECT_URL}
